/***************************************** MENU **********************************/
body {
  background-color: #faf5eb;
}

.menu-header {
  background-color: #faf5eb;
}
.container {
  width: calc(100% - 40px);
  max-width: var(--container-width);
  margin: 0 auto;
  --container-width: 1000px;
  --gutter: 28px;
  /* background-color: #faf5eb ; */
}

/* Grid */
.menu-grid {
  padding: 18px 0 60px;
  /* background-color: #faf5eb; */
}

.grid-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gutter);
  align-items: start;
  /* background-color: #faf5eb; */
}

.menu-item {
  background: #fff;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04) inset;
  background-color: #faf5eb;
}

.menu-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  /* background-color: #faf5eb; */
}

.menu-item {
  aspect-ratio: 1/1;
}
/***************************************** MENU **********************************/

/***************************************** HEADER **********************************/
.header {
  background: #faf5eb;
  border: 2px solid rgba(0, 0, 0, 0.08);
  padding: 16px 0;
}
.header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vietnamese {
  display: flex;
  align-items: center;
  gap: 16px;
}
/* logo image */
.logo img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  display: block;
  border: 4px solid #faf5eb;
}

.site-title {
  font-size: 20px;
  font-weight: 700;
  color: #7a2b2b;
}
.main-nav ul {
  display: flex;
  gap: 34px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav a {
  color: #7a2b2b;
  text-decoration: none;
  font-weight: 700;
}
.main-nav a:hover {
  text-decoration: underline;
}
/***************************************** HEADER **********************************/

/***************************************** MENU MEDIA **********************************/

/* Responsive: two columns on medium, one on small */
@media (max-width: 900px) {
  .grid-inner {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 520px) {
  .grid-inner {
    grid-template-columns: repeat(1, 1fr);
  }
  .menu-header h1 {
    font-size: 28px;
  }
}

body .container + .container {
  margin-top: 20px;
}

menu-footer {
  padding: 20px 0;
  background-color: #faf5eb;
}

/***************************************** MENU MEDIA **********************************/
