body {
  background-color: #faf5eb;
}

/* header */

.header {
  background: #580004;
  border: 2px solid rgba(0, 0, 0, 0.08);
  padding: 16px 0;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 20;
}

.header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10em;
  margin-right: 10em;
}

.vietnamese {
  display: flex;
  align-items: center;
  gap: 16px;
}

.site-title {
  font-size: 20px;
  font-weight: 700;
  color: #faf5eb;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

.main-nav a {
  color: #faf5eb;
  text-decoration: none;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}

.main-nav ul {
  display: flex;
  gap: 34px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* logo image */
.logo img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  display: block;
}

.site-title {
  font-size: 20px;
  font-weight: 700;
  color: #7a2b2b;
}
.main-nav ul {
  display: flex;
  gap: 34px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav a {
  color: #7a2b2b;
  text-decoration: none;
  font-weight: 700;
}
.main-nav a:hover {
  text-decoration: underline;
}

/* header */

h1,
h2,
h3,
p {
  color: #79040d;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.lokationer_title {
  text-align: center;
}

.nørrebrogade,
.kongesgade {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.nørrebrogade_tekst,
.kongesgade_tekst {
  text-align: center;
}
.nørrebrogade_img img,
.kongesgade_img img {
  max-width: 100%;
  height: auto;
  border: 10px solid #f3e39b;
}

.nørrebrogade_tekst a {
  color: #79040d;
  text-decoration: none;
}

.nørrebrogade_tekst a:hover {
  text-decoration: underline;
}

.kongesgade_tekst a {
  color: #79040d;
  text-decoration: none;
}
.kongesgade_tekst a:hover {
  text-decoration: underline;
}

hr {
  border-top: 2px solid #dac58b;
  margin: 24px 0;
}

/* footer */

@media (min-width: 1024px) {
  main {
    max-width: 1050px;
    margin: 0 auto;
    padding: 20px;
  }

  .lokationer_title {
    margin-bottom: 80px;
  }
  .nørrebrogade {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    margin-bottom: 80px;
  }

  .kongesgade {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    align-items: flex-start;
    margin-top: 80px;
  }

  .nørrebrogade_img img,
  .kongesgade_img img {
    max-width: 500px;
    height: auto;
  }

  h1 {
    font-size: 64px;
  }

  h3 {
    font-size: 28px;
  }

  h2 {
    font-size: 38px;
  }
  p {
    font-size: 22px;
    padding: 8px;
  }
}
